* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header,
  section h2 { 
    font-family:'Bungee' , cursive ;

  }
  body{
    font-family: 'roboco' , sans-serif;
  }
  header {
    padding: 16px 0;
    background-color: #182c61;
    color: #ecf0f1;
  }
  header h1, 
  section h2 {
    font-weight: normal;
  }
  header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
  }
  
  header nav li a {
    color: #ecf0f1;
    text-decoration: none;
  }
  
  .container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }
  
  header .container,
  section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .brands-list img {
    height: 24px;
  }
  .brands-list li {
    display: inline;
    margin-right: 8px;
  }
  section .container{
    align-items: flex-start;
  }
  section{
    padding: 24px 0;
    color: #182c61;
  }
  section h2{
    margin-bottom: 1opx;
    color:#182c61;
  }
  section p {
    margin-bottom: 8px;
  }
  .store-front {
    margin-right: 32px;
  }